@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Open+Sans:wght@300;700&family=Righteous&family=Roboto&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urbanist", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none;
}

.darken-active {
  display: block;
}
.header-container {
  position: fixed;
  z-index: 9;
}

.header {
  position: absolute;
  background-color: white;
  height: 170px;
  width: 100vw;
  text-align: right;
  padding-right: 60px;
  display: flex;
  justify-content: right;
}

.burger {
  display: none;
}

.title {
  width: 80%;
}

.title-main {
  margin-top: 10px;
}

.title-main img {
  margin-right: 20px;
  position: relative;
  top: 1px;
  width: 110px;
  height: auto;
}

.artist {
  font-size: 1.9rem;
  font-weight: 300;
}

.bottom-line {
  height: 6px;
  background-color: black;
  width: 100%;
  float: right;
}

.menu {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 200px 60px 0 60px;
  width: max-content;
  gap: 30px;
}

.menu ul {
  list-style: none;
}

.menu li,
.spoiler {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.spoiler:hover {
  color: rgb(240, 6, 240);
  border-bottom: 2px solid;
}

.spoiler-content {
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.spoiler-content li:hover {
  color: rgb(240, 6, 240);
  border-bottom: 2px solid;
}

.spoiler-content {
  display: none;
  padding-left: 30px;
}

.spoiler {
  position: relative;
}

.spoiler::before,
.spoiler::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 30px;
  transition: 0.3s;
}

.spoiler::before {
  transform: rotate(40deg);
  left: 150px;
}

.spoiler::after {
  transform: rotate(-40deg);
  left: 157px;
}

.spoiler.spoiler-active::before {
  transform: rotate(-40deg);
}

.spoiler.spoiler-active::after {
  transform: rotate(40deg);
}

.loader-container {
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  overflow: hidden;
  display: none;
  border: 4px solid rgb(255, 255, 255);
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 60px;
  margin-left: 310px;
  flex-wrap: wrap;
  float: right;
  margin-top: 120px;
  transition: 0.3s;
}

.gallery img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(105%);
}

.gallery img.full-image {
  border-radius: 26px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  aspect-ratio: auto;
  max-width: 95vw;
  max-height: 95vh;
  width: auto;
  z-index: 11;
  transition: 0.5s;
}

.gallery img.full-image.scale {
  transform: translate(-50%, -50%) scale(1);
}

/*--------------------------------------------------------------------MEDIA------------------------------------------------*/

@media (max-width: 1441px) {
  .header {
    padding-right: 30px;
  }

  .gallery {
    padding: 60px 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1146px) {
  .bottom-line {
    width: 75%;
  }

  .menu {
    font-size: 1.7rem;
    padding: 200px 30px 0 30px;
    height: 100%;
    width: 250px;
  }

  .gallery {
    margin-left: 250px;
    gap: 30px;
  }
}

@media (max-width: 769px) {
  .header {
    padding-right: 20px;
    justify-content: space-between;
  }

  .bottom-line {
    height: 4px;
    width: 85%;
  }

  .gallery {
    gap: 20px;
    width: 100%;
    padding: 60px 20px;
  }

  .menu {
    visibility: hidden;
    transform: translatey(300px) translateX(-300px);
    transition: all 0.3s;
  }

  .menu-active {
    visibility: visible;
    position: absolute;
    top: 150px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transform: translatey(0);
    padding-top: 100px;
  }

  .burger {
    z-index: 6;
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 30px;
  }

  .top-string {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 2px;
    background-color: black;
    transform-origin: left top;
    transition: 0.3s;
  }

  .middle-string {
    position: absolute;
    top: 19px;
    width: 40px;
    height: 2px;
    background-color: black;
    transition: 0.3s;
  }

  .bottom-string {
    position: absolute;
    top: 33px;
    width: 40px;
    height: 2px;
    background-color: black;
    transform-origin: left bottom;
    transition: 0.3s;
  }
}

@media (max-width: 600px) {
  .header {
    height: 155px;
  }

  .burger {
    margin: 20px;
  }

  .title-main img {
    width: 80px;
    margin-right: 1px;
  }

  .artist {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .gallery {
    margin-top: 100px;
  }
}

@media (max-width: 431px) {
  .header {
    height: 110px;
    padding-right: 20px;
  }

  .title-main img {
    width: 60px;
  }

  .artist {
    font-size: 1rem;
    font-weight: 300;
  }

  .burger {
    margin: 45px 0 0 25px;
  }

  .bottom-line {
    height: 2px;
  }

  .menu-active {
    padding-top: 50px;
    font-size: 1.7rem;
    top: 100px;
    gap: 5px;
  }

  .gallery {
    margin-top: 55px;
  }
}
